::-moz-selection {
  background: $accent-color;
}

::selection {
  background: $accent-color;
}

body {
  background-color: $bg-color;
  color: $primary-color;
  font-family: $syne-font;
  height: 100vh;
  overflow: hidden;
}

*,
*:hover {
  cursor: none;
}

.cursor {
  position: fixed;
  background-color: $primary-color;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  mix-blend-mode: hue;
}

.loop-wrapper {
  display: flex;
  width: 100px;
  height: 23px;
  overflow: hidden;
  text-decoration: none;
  .loop-title {
    display: flex;
    align-items: center;
    animation: textLoop 4s linear infinite;
    will-change: transform;
    span {
      color: $primary-color;
      font-size: 16px;
      border-bottom: 1px solid $primary-color;
      transition: color .3s, border-color .3s;
    }
  }
  &:hover {
    span {
      color: $accent-color;
      border-color: $accent-color;
    }
  }
}

@keyframes textLoop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}