@font-face {
  font-family: 'Cormorant';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Cormorant-Bold.eot');
  src: url('../assets/fonts/Cormorant-Bold.woff2') format('woff2'), url('../assets/fonts/Cormorant-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Syne-Extra';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Syne-Extra.eot');
  src: url('../assets/fonts/Syne-Extra.woff2') format('woff2'), url('../assets/fonts/Syne-Extra.woff') format('woff');
}

@font-face {
  font-family: 'Syne';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Syne-Regular.eot');
  src: url('../assets/fonts/Syne-Regular.woff2') format('woff2'), url('../assets/fonts/Syne-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Syne';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/Syne-Bold.eot');
  src: url('../assets/fonts/Syne-Bold.woff2') format('woff2'), url('../assets/fonts/Syne-Bold.woff') format('woff');
}