// colors
$primary-color: #21173B;
$accent-color: #FC67C4;
$bg-color: #E5DFF5;
$white-color: #fff;

// fonts
$cormorant-font: 'Cormorant', 'Times New Roman', Times, serif;
$syne-font: 'Syne', Lato, 'Lucida Grande', Tahoma, Sans-Serif;
$syne-extra-font: 'Syne-Extra', Lato, 'Lucida Grande', Tahoma, Sans-Serif;